/src/shared/    @HuyThang011104
/src/entities/  @HuyThang011104
/src/app/       @HuyThang011104
/app.config.ts  @HuyThang011104
/eas.json       @HuyThang011104
/plugins/       @HuyThang011104
/modules/       @HuyThang011104
/documentation/ @HuyThang011104
